
#parent{
    position: fixed;
    overflow: auto;
}

#childRightCol{
    height: 100px;
    float: left;
    width: 100px;
}

#childLeftCol{
    height: 50%;
    float: left;
    height: 50px;
    width: 100px;
}